/** @format */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: rgb(237, 237, 237);
  color: rgb(11, 11, 11);
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(pics/bg5.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: rgb(7, 7, 7);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #200566;
  position: absolute;
  left: 0;
  bottom: -6px;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 15%;
  font-size: 30px;
}
.header-text h1,
p {
  font: size 60px;
  margin-top: 20px;
  font-family: "Rock Salt", cursive;
  color: rgb(17, 193, 238);
}
.header-text h1 span {
  color: #200566;
  font-family: "Rock Salt", cursive;
  font: size 60px;
}
.header-text p {
  font: size 60px;
  margin-top: 20px;
  font-family: "Rock Salt", cursive;
  color: rgb(217, 224, 225);
}

#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col1 {
  flex-basis: 35%;
}
.about-col1 img {
  width: 100%;
  border: radius 20px;
}
.about-col2 {
  flex-basis: 60%;
}
.about-col2 p {
  color: rgb(10, 10, 10);
  font-family: sans-serif;
}
.subtitle {
  font-size: 60px;
  font-weight: 600;
  color: rgb(29, 8, 118);
  font-family: "Rock Salt", cursive;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #200566;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-links::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px;
}
.tab-contents ul li span {
  color: #20e9ef;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: #969494;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
p {
  color: black;
  font-family: sans-serif;
}
.services-list div material-symbols-outlined {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #6ec5dd;
  transform: translateY(-10px);
}
/* ----------------------- */
#clients {
  padding: 50px 0;
}
.clientlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.client {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.client img {
  width: 80%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 80%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #4393cb);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #20e9ef;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.client:hover img {
  transform: scale(1.1);
}
.client:hover .layer {
  height: 100%;
}

/* -------------------------- */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #200566;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #200566;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #200566;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #635e5e;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #7f7a7a;
  font-weight: 300;
  margin-top: 20px;
  height: 50%;
}
/* form .btn2{

} */
nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {
  #hjeader {
    background-image: url(pics/bgg1.jpg);
  }
  .header-text p {
    color: black;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #200566;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .about-col1,
  .about-col2 {
    flex-basis: 100%;
  }
  .about-col1 {
    margin-bottom: 30px;
  }
}
